<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


  </head>

  <body>
    <h1 class="text-center">Register</h1>
    <form action="/dashboard/register" method="POST" class="container">
      <label for="">User Name</label>
      <input type="text"  class="form-control" name="username">
      <label for="">Email</label>
      <input type="text"  class="form-control" name="email">
      <label for="">password</label>
      <input type="password"  class="form-control" name="password">
      <div class="text-center"><input type="submit" value="submit" class="btn btn-primary mt-3"></div>


    </form>
  </body>

</html>
